@charset "utf-8";
/* CSS Document */
*,*:after,*:before{
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;	
}
.wrapper{
	width: 95%;
	margin: 0 auto;
}

.row:after{
	content: "";
	display: table;
	clear: both;
}

.img-responsive{
	max-width: 100%;
}

figure {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

[class*="col-"]{
	padding: 0 20px;
	float: left;
	margin-bottom: 20px;
}


@media only screen and (min-width:768px){

}
@media only screen and (min-width:1024px){
	.wrapper{
	width: 75%;
	margin: 0 auto;
}
}





h1{
	font-size: 3rem;
	line-height: 1.5em;
}


@media only screen and (min-width: 1024px){
	html{
		
		
	}
}

@media only screen and (min-width: 768px){
	html{
		
		
	}
}













